In [16]:
import csv 
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
from matplotlib.pyplot import figure
import seaborn as sns 
from matplotlib import pyplot 
import seaborn 

path1 = 'spreads.csv'
df = pd.read_csv(path1)

In [17]:
df.head()

,Unnamed: 0,FAVORITE,SPREAD,UNDERDOG,TOTAL,AWAY MONEY LINE,HOME MONEY LINE,H/A
0,0,Falcons,-1.0,Eagles,44.5,-105,-105,A
1,1,Titans,-1.0,Dolphins,43.5,-102,-108,A
2,2,Vikings,-6.0,49ers,46.5,240,-260,H
3,3,Patriots,-6.0,Texans,49.0,225,-245,H
4,4,Saints,-10.0,Buccaneers,50.0,400,-450,H

In [18]:
del df['Unnamed: 0']

In [19]:
path2 = 'Clean2018Results.csv'
df1 = pd.read_csv(path2)

In [20]:
df1.head()

,Unnamed: 0,Ranking,Score,Point Won,Points Lost,PtTot,PD,Count,Winning Team,Losing Team
0,0,1,13-3,13,3,16,10,48,New England Patriots,Los Angeles Rams
1,1,2,26-23,26,23,49,3,41,Los Angeles Rams,New Orleans Saints
2,2,3,37-31,37,31,68,6,26,New England Patriots,Kansas City Chiefs
3,3,4,20-14,20,14,34,6,94,New Orleans Saints,Philadelphia Eagles
4,4,5,41-28,41,28,69,13,13,New England Patriots,Los Angeles Chargers

In [21]:
del df1['Unnamed: 0']

In [29]:
import csv 
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
from matplotlib.pyplot import figure
import seaborn as sns 
from matplotlib import pyplot 
import seaborn 

path3 = '../First Half Points Surrendered.csv'
df3 = pd.read_csv(path3)

FileNotFoundError: [Errno 2] File b'../First Half Points Surrendered.csv' does not exist: b'../First Half Points Surrendered.csv'

In [30]:
df3.head()

   Rank          Team  2018  Last 3  Last 1  Home  Away  2017
0     1       Chicago   5.8     5.0       3   5.4   6.2  11.9
1     2        Dallas   7.8    11.0      20   5.6  10.0   7.9
2     3   New England   8.8     2.3       0   5.0  12.3  10.7
3     4       Houston  10.1    12.3      21   9.7  10.5  14.9
4     5  Philadelphia  10.3     5.3      10  11.4   9.4   8.3

In [ ]:
fig, ax = pyplot.subplots(figsize =(9, 7)) 

sns.violinplot(ax = ax, data = df1)
ax.set_ylabel('Wins')
plt.tight_layout()
plt.savefig('wins_vs_winsATS_violinchart.png')

plt.show()