In [1]:
import csv 
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
from matplotlib.pyplot import figure
import seaborn as sns 
from matplotlib import pyplot 

path = 'cleaned_spreads_final.csv'
df = pd.read_csv(path)

In [2]:
df.head()

,Unnamed: 0,Rank,FAVORITE,SPREAD,UNDERDOG,TOTAL,AWAY MONEY LINE,HOME MONEY LINE,H/A
0,0,1,Atlanta Falcons,-1.0,Philadelphia Eagles,44.5,-105,-105,A
1,1,2,Tennessee Titans,-1.0,Miami Dolphins,43.5,-102,-108,A
2,2,5,Minnesota Vikings,-6.0,San Francisco 49ers,46.5,240,-260,H
3,3,4,New England Patriots,-6.0,Houston Texans,49.0,225,-245,H
4,4,7,New Orleans Saints,-10.0,Tampa Bay Buccaneers,50.0,400,-450,H

In [3]:
path1 = '2018_Results_New.csv'
df1 = pd.read_csv(path1)

In [4]:
df1.head()

,Rank,Week,Day,Date,Time,Winner/tie,Loser/tie,PtsW,PtsL,YdsW,TOW,YdsL,TOL
0,1,1,Thu,6-Sep,8:20PM,Philadelphia Eagles,Atlanta Falcons,18,12,232,2,299,1
1,2,1,Sun,9-Sep,1:00PM,Miami Dolphins,Tennessee Titans,27,20,342,2,336,3
2,3,1,Sun,9-Sep,1:00PM,Pittsburgh Steelers,Cleveland Browns,21,21,472,6,327,1
3,4,1,Sun,9-Sep,1:00PM,New England Patriots,Houston Texans,27,20,389,3,325,2
4,5,1,Sun,9-Sep,1:00PM,Minnesota Vikings,San Francisco 49ers,24,16,343,1,327,4

In [5]:
new_chart = pd.merge(df, df1, on='Rank', how='inner')
new_chart = new_chart[['FAVORITE','UNDERDOG','SPREAD','Winner/tie', 'Loser/tie','PtsW','PtsL','YdsW','YdsL']]

In [6]:
new_chart['Pt diff'] = new_chart['PtsW'] - new_chart['PtsL']
new_chart.head()

,FAVORITE,UNDERDOG,SPREAD,Winner/tie,Loser/tie,PtsW,PtsL,YdsW,YdsL,Pt diff
0,Atlanta Falcons,Philadelphia Eagles,-1.0,Philadelphia Eagles,Atlanta Falcons,18,12,232,299,6
1,Tennessee Titans,Miami Dolphins,-1.0,Miami Dolphins,Tennessee Titans,27,20,342,336,7
2,Minnesota Vikings,San Francisco 49ers,-6.0,Minnesota Vikings,San Francisco 49ers,24,16,343,327,8
3,New England Patriots,Houston Texans,-6.0,New England Patriots,Houston Texans,27,20,389,325,7
4,New Orleans Saints,Tampa Bay Buccaneers,-10.0,Tampa Bay Buccaneers,New Orleans Saints,48,40,529,475,8

In [7]:
new_chart['ZERO'] = 0
new_chart.head()

,FAVORITE,UNDERDOG,SPREAD,Winner/tie,Loser/tie,PtsW,PtsL,YdsW,YdsL,Pt diff,ZERO
0,Atlanta Falcons,Philadelphia Eagles,-1.0,Philadelphia Eagles,Atlanta Falcons,18,12,232,299,6,0
1,Tennessee Titans,Miami Dolphins,-1.0,Miami Dolphins,Tennessee Titans,27,20,342,336,7,0
2,Minnesota Vikings,San Francisco 49ers,-6.0,Minnesota Vikings,San Francisco 49ers,24,16,343,327,8,0
3,New England Patriots,Houston Texans,-6.0,New England Patriots,Houston Texans,27,20,389,325,7,0
4,New Orleans Saints,Tampa Bay Buccaneers,-10.0,Tampa Bay Buccaneers,New Orleans Saints,48,40,529,475,8,0

In [30]:
new_chart.dtypes

FAVORITE       object
UNDERDOG       object
SPREAD        float64
Winner/tie     object
Loser/tie      object
PtsW            int64
PtsL            int64
YdsW            int64
YdsL            int64
Pt diff         int64
ZERO            int64
dtype: object

In [55]:
new_chart.head()

,FAVORITE,UNDERDOG,SPREAD,Winner/tie,Loser/tie,PtsW,PtsL,YdsW,YdsL,Pt diff,ZERO
0,Atlanta Falcons,Philadelphia Eagles,-1.0,Philadelphia Eagles,Atlanta Falcons,18,12,232,299,6,0
1,Tennessee Titans,Miami Dolphins,-1.0,Miami Dolphins,Tennessee Titans,27,20,342,336,7,0
2,Minnesota Vikings,San Francisco 49ers,-6.0,Minnesota Vikings,San Francisco 49ers,24,16,343,327,8,0
3,New England Patriots,Houston Texans,-6.0,New England Patriots,Houston Texans,27,20,389,325,7,0
4,New Orleans Saints,Tampa Bay Buccaneers,-10.0,Tampa Bay Buccaneers,New Orleans Saints,48,40,529,475,8,0

In [76]:
new_chart['PtsW'][1]

27

In [80]:
spread_winner = []


for i in range(len(new_chart)):
    
    if (new_chart['Pt diff'][i] + new_chart['SPREAD'][i] > new_chart['ZERO'][i]) and (new_chart['FAVORITE'][i] == new_chart['Winner/tie'][i]):
        spread_winner.append(new_chart['FAVORITE'][i])
    elif (new_chart['Pt diff'][i]) + (new_chart['SPREAD'][i]) < (new_chart['ZERO'][i]) and (new_chart['FAVORITE'][i]) == new_chart['Winner/tie'][i]:
        spread_winner.append(new_chart['UNDERDOG'][i])
    elif (new_chart['UNDERDOG'][i]) == new_chart['Winner/tie'][i]:
         spread_winner.append(new_chart['UNDERDOG'][i])
    elif new_chart['Pt diff'][i] + new_chart['SPREAD'][i] == new_chart['ZERO'][i]:
         spread_winner.append('Tie')

In [83]:
new_chart['Spread Winner'] = spread_winner
new_chart.head()

,FAVORITE,UNDERDOG,SPREAD,Winner/tie,Loser/tie,PtsW,PtsL,YdsW,YdsL,Pt diff,ZERO,Spread Winner
0,Atlanta Falcons,Philadelphia Eagles,-1.0,Philadelphia Eagles,Atlanta Falcons,18,12,232,299,6,0,Philadelphia Eagles
1,Tennessee Titans,Miami Dolphins,-1.0,Miami Dolphins,Tennessee Titans,27,20,342,336,7,0,Miami Dolphins
2,Minnesota Vikings,San Francisco 49ers,-6.0,Minnesota Vikings,San Francisco 49ers,24,16,343,327,8,0,Minnesota Vikings
3,New England Patriots,Houston Texans,-6.0,New England Patriots,Houston Texans,27,20,389,325,7,0,New England Patriots
4,New Orleans Saints,Tampa Bay Buccaneers,-10.0,Tampa Bay Buccaneers,New Orleans Saints,48,40,529,475,8,0,Tampa Bay Buccaneers

In [71]:

# for i in range(len(new_chart)):
    
#     if new_chart['Pt diff'] + new_chart['SPREAD'] > 0 & new_chart['FAVORITE'] == new_chart['Winner/tie']:

In [47]:
spread_winner

[]

In [50]:
len(new_chart['Pt diff'])

267

In [53]:
list((new_chart['Pt diff']) + list(new_chart['SPREAD'])) > list(new_chart['ZERO'])

True